/* Animaciones */
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 3.4s;
    animation-duration: 3.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  html {
    scroll-behavior: smooth;
  }

/* Cambio De Imagenes  */
#lfb 
{  
background-image: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.877)), url("../img/header2.png");
position:relative;  
margin:0 auto;
width: auto;
height:100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 5%;
}
#lfb img
{  
position:absolute;  
left:0;  
-webkit-transition: opacity 1s ease-in-out;  
-moz-transition: opacity 1s ease-in-out;  
-o-transition: opacity 1s ease-in-out;  
transition: opacity 1s ease-in-out;

}
@keyframes lfb3FadeInOut 
{  
0% {  opacity:1;}
45% {opacity:1;}
55% {opacity:0;}
100% {opacity:0;}

}

#lfb img.top 
{
position:relative;  
margin:0 auto;
width: auto;
height:100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

animation-name:lfb3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;

}
